.listing {
    list-style: none;
    padding: 0;

    li {
        margin: 10px 0;
        padding: 15px;
        background-color: #eee;
        border: 1px solid #ddd;

        a {
            font-size: 1.3em;
        }
    }
}

.tutorial {
    .content {
        border: 1px solid #eee;
        background-color: #fefefe;
        padding: 15px;
    }
}
