<div class="tutorial">
  <h1 class="title"><%= @tutorial.title %></h1>
  <p class="author"><%= @tutorial.author.name %>, published at <%= date @tutorial.published_at %></p>
  <div class="content"><%= raw @tutorial.content %></div>
</div>